@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$background-color:hsl(47, 88%, 63%);
$body-color:hsl(0, 0%, 100%);
$secondary-color:hsl(0, 0%, 42%);
$primary-color: hsl(0, 0%, 7%);
$bold-font:800;

*{
    padding: 0;
    margin: 0;
    font-size: clamp(0.6rem, 2.5vw, 1rem);
    font-family: "Roboto Condensed", sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    main{
        background-color: $body-color;
        width: 23rem;
        height: 32rem;
        border-radius: 1rem;
        border: 0.0625rem solid $primary-color;
        box-shadow: 0.5rem 0.5rem 0px $primary-color;;
        //flex is used to allign items to center with margin
        display: flex;
        flex-direction: column;

        .image{
            margin: 1.5rem auto ;
            img{
                border-radius: 1rem;
                width: 20rem;
            }
        }
        
        .tag{
            background-color: $background-color;
            width: 4.5rem;
            padding: 0.3rem;
            text-align: center;
            font-weight: $bold-font;
            border-radius: 0.5rem;
            margin-inline-start: 1.5rem;           
        }

        .date{
            margin-inline-start: 1.5rem;
            margin-block-start:1rem;
            margin-block-end:  1rem;
            
        }

        h1{
           
            margin-inline-start: 1.5rem;
            margin-block-end: 1rem;

            span{
                font-weight: $bold-font; 
                font-size: 1.6rem;
                &:hover{
                    cursor: pointer;
                    color:$background-color ;
                }
            }
           
        }
        article{
            color: $secondary-color;
            margin:0 1.5rem;
            text-align: justify;
        }

        figure{
            
            margin-left: 1.5rem;
            margin-top: 1.4rem;
            width: 2.5rem;
            img{
                width: 2.5rem;
            }
        }
        figcaption{
            position: relative;
            margin-inline-start: 1rem;
            left: 3rem;
            bottom: 2rem;
            font-weight: $bold-font;
            font-size: 0.85rem;
            width: 5rem;
            &:hover{
                color: $background-color;
                cursor: pointer;
            }
        }
            

    }
}


